<%= form_tag(update_password_path, class: 'form-horizontal login-form') %>

    <div class="form-group relative">
        <%= password_field_tag(:password, nil, class: 'form-control input-lg', id: 'reset_password', placeholder: 'Password', required: true) %>
        <i class="fa fa-lock"></i>
    </div>

    <div class="form-group relative">
        <%= password_field_tag(:password_confirmation, nil, class: 'form-control input-lg', id: 'reset_password_confirmation', placeholder: 'Repeat Password', required: true) %>
        <i class="fa fa-lock"></i>
    </div>

    <div class="form-group">
        <%= hidden_field_tag(:email, params[:email]) %>
        <%= hidden_field_tag(:key, params[:key]) %>
        <%= button_tag('Reset Password & Login', type: 'submit', class: 'btn btn-lg btn-block') %>
    </div>

</form>
