<div class="new_design">
    <div class="form_design_1 ">
        <%= form_tag(signup_path, class: 'form-horizontal login-form') %>


                <div class="signup-card-container">
                    <div class="row mb-5">
                    <% @tiers.each_with_index do |tier, index| %> 
                        <div class="col-lg-4 mb-3">
                            <div class="gerenric-card-radio">
                                <%if index == 0%>
                                    <input type="radio" id="radio-<%=tier.id%>" name="subscription" checked/>
                                <%else%>
                                    <input type="radio" id="radio-<%=tier.id%>" name="subscription" />
                                <%end%>
                                 <label for="radio-<%=tier.id%>">
                                    <%if index == 0%>
                                      <div class="card-box">
                                    <%elsif index == 1%>
                                      <div class="card-box brown-card">
                                    <%else%>
                                      <div class="card-box gray-card">
                                    <%end%>
                                        <div class="card-prise">$<%=tier.price %></div>
                                        <div class="card-title"></div>
                                        <ul class="card-listing">
                                            <li><%=tier.users_limit %> User</li>
                                            <li><%=tier.products_limit %> products</li>
                                            <li><%=tier.projects_limit %> projects per year</li>
                                        </ul>
                                    </div>
                                 </label>
                            </div>
                        </div>
                    <% end %>    

                       

                        
                    </div>
                </div>
                 
               
                
                <div class="input_w_icon">
                    <%=image_tag("new_icons/email_full.svg", alt:"sitename") %>
                    <%= text_field_tag(:sitename, params[:sitename], placeholder: 'Site Name', required: true, maxlength: 20) %>
                    
                </div>
                <%= hidden_field_tag :selected_tier, "-#{Tier.first.id}" %>
                <div id="site-message" style="color:red; margin-top:5px;"></div>
                <div class="separator10"></div>
                
                <div class="inline_elements_min_width_140px">
                    <div class="input_w_icon">
                        <%=image_tag("new_icons/user_full.svg", alt:"email") %>
                        <%= text_field_tag(:address, params[:address], placeholder: 'Address', required: true, maxlength: 100) %>
                    </div>

                    <div class="input_w_icon">
                        <%=image_tag("new_icons/user_full.svg", alt:"email") %>
                        <%= text_field_tag(:city, params[:city], placeholder: 'City', required: true, maxlength: 40) %>
                    </div>
                </div>
                <div class="separator10"></div>
                <div class="inline_elements_min_width_140px">
                    <div class="input_w_icon">
                        <%#=image_tag("new_icons/user_full.svg", alt:"email") %>
                        <%#= text_field_tag(:state, params[:state], placeholder: 'State') %>
                        <%= select_tag :state, options_from_collection_for_select(State.all, :abbreviation, :abbreviation), prompt: "Select a State" , required: true %>
                    </div>

                    <div class="input_w_icon">
                        <%=image_tag("new_icons/user_full.svg", alt:"email") %>
                        <%= text_field_tag(:zip, params[:zip], placeholder: 'Zip', required: true, maxlength: 10) %>
                    </div>
                </div>
                <div class="separator10"></div>

                <div class="inline_elements_min_width_140px">
                    <div class="input_w_icon">
                    <%= select_tag :country, options_from_collection_for_select(Country.all, :id, :country), prompt: "Select a Country", required: true %>

                    </div>

                    <div class="input_w_icon">
                        <%=image_tag("new_icons/user_full.svg", alt:"email") %>
                        <%= text_field_tag(:phone, params[:phone], placeholder: 'Phone', required: true, maxlength: 15) %>
                    </div>
                </div>
                <div class="separator10"></div>
                 
                <div class="inline_elements_min_width_140px">
                    <div class="input_w_icon">
                        <%=image_tag("new_icons/user_full.svg", alt:"email") %>
                        <%= text_field_tag(:first_name, params[:first_name], placeholder: 'First Name') %>
                    </div>

                    <div class="input_w_icon">
                        <%=image_tag("new_icons/user_full.svg", alt:"email") %>
                        <%= text_field_tag(:last_name, params[:last_name], placeholder: 'Last Name') %>
                    </div>
                </div>

               
                <div class="separator10"></div>
                <!-- EMAIL -->
                <div class="input_w_icon">
                    <%=image_tag("new_icons/email_full.svg", alt:"email") %>
                    <%= email_field_tag(:email, params[:email], placeholder: 'E-mail Address', required: true) %>
                </div>
                <div id="email-message" style="color:red; margin-top:5px;"></div>
                <div class="separator10"></div>
                
                <div class="input_w_icon">
                    <%=image_tag("new_icons/email_full.svg", alt:"username") %>
                    <%= text_field_tag(:username, params[:username], placeholder: 'User Name', required: true, id: 'username-site') %>
                </div> 
                <div id="username-message-site" style="color:red; margin-top:5px;"></div>

                <!-- 
                <div class="separator10"></div>
                
                <div class="input_w_icon">
                    <%#=image_tag("new_icons/email_full.svg", alt:"username") %>
                    <%#= text_field_tag(:username, params[:username], placeholder: 'User Name', required: true) %>
                    <%= select_tag :site_id, options_for_select([["Select a site", "", { disabled: true, selected: true }]] + all_sites_for_select) %>
                </div>
                -->
                <div class="separator10"></div>

                
                    <!-- PASSWORD -->
                    <div class="input_w_icon">
                        <%=image_tag("new_icons/pass_full.svg", alt:"pass") %>
                        <%= password_field_tag(:password, nil, placeholder: 'Password must be 9 characters long.', required: true) %>
                    </div>
                    <div class="separator10"></div>
                    <!-- REPEAT PASSWORD -->
                    <div class="input_w_icon">
                        <%=image_tag("new_icons/pass_full.svg", alt:"pass") %>
                        <%= password_field_tag(:password_confirmation, nil, id: 'signup_password_confirmation', placeholder: 'Repeat Password must be 9 characters long.', required: true) %>
                    </div>
                

                <div class="separator10"></div>

                <!-- SELECT WITH ICON -->
                <div class="form_select_w_icon">
                    <div class="what_best_describes_you">
                        <%= image_tag("new_icons/occupation_full.svg", alt:"occupation") %>
                        <%= select_tag(:occupation, options_for_select(
                            [
                                [ 'What best described you?', nil ],
                                [ 'Stager',                   'stager' ],
                                [ 'Builder',                  'builder' ],
                                [ 'Realtor/Broker',           'realtor_broker' ],
                                [ 'Home Shopper',             'home_shopper' ],
                            ], params[:occupation])) %>
                        <%= image_tag("new_icons/down_arrow_grey.svg", class: "select_arrow_down", alt:"arrow") %>
                    </div>
                </div>

                
                
                <div class="separator10"></div>
                
                    <%= hidden_field_tag :recaptcha_token_site,nil, id: "recaptcha_token_site", value: params[:recaptcha_token_site] %>
                 
                  
                <!-- BUTTON -->
                <br>
                <div class="form_button">
                    <%= button_tag('SIGNUP', type: 'submit', class: 'fd_button prime_color') %>
                </div>

        </form>
    </div>
</div>

<script>
    $("select").change(function() {
        $(this).css('color','black')
    })
    const radios = document.querySelectorAll('input[name="subscription"]');
    const hiddenField = document.getElementById('selectedTier');

    radios.forEach(radio => {
        radio.addEventListener('change', () => {
        if (radio.checked) {
            hiddenField.value = radio.id;
        }
        });
    });
</script>
<script src="https://www.google.com/recaptcha/api.js?render=<%= ENV['RECAPTCHA_SITE_KEY'] %>" async defer></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  grecaptcha.ready(function() {
    grecaptcha.execute('<%= ENV['RECAPTCHA_SITE_KEY'] %>', {action: 'signup'}).then(function(token) {
       document.getElementById('recaptcha_token_site').value = token;
    });
  });
});  
</script>

<script>



$('#username-site').on('keyup', function() {
  const name = $(this).val().trim();

  if (name === '') {
    $('#username-message-site').text('');
    return;
  }

  $.ajax({
    url: '/check_username',
    method: 'GET',
    data: { name: name },
    success: function(response) {
      if (response.exists) {
        $('#username-message-site').text(response.message);
      } else {
        $('#username-message-site').text('');
      }
    },
    error: function() {
      $('#username-message-site').text('Error checking username.');
    }
  });
});


</script>








<script>
$(document).ready(function() {
  // When the radio buttons change
  $('input[name="subscription"]').on('change', function() {
    var selectedRadioId = $('input[name="subscription"]:checked').attr('id');
       document.getElementById('selected_tier').value = selectedRadioId;
  });
});

$('#sitename').on('keyup', function() {
  const sitename = $(this).val().trim();

  if (sitename === '') {
    $('#site-message').text('');
    return;
  }

  $.ajax({
    url: '/check_site',
    method: 'GET',
    data: { name: sitename },
    success: function(response) {
      if (response.exists) {
        $('#site-message').text(response.message);
      } else {
        $('#site-message').text('');
      }
    },
    error: function() {
      $('#site-message').text('Error checking site.');
    }
  });
});
</script>


<style>
    .modal-dialog{max-width:1100px;}
    .gerenric-card-radio input[type="radio"] {display: none;}
    .gerenric-card-radio label {cursor: pointer;position: relative; width: calc(100% - 20px);border:3px solid transparent;}
    .gerenric-card-radio input[type="radio"]:checked + label {border:3px solid #2bd6ce;border-radius:20px;}
    .signup-card-container{width:100%; margin-bottom:40px;}
    .signup-card-container .card-box{ border-radius:20px; padding:30px 20px; backbround-color:#fff; box-shadow:0px 0px 20px rgba(0,0,0,0.15)}
    .signup-card-container .card-box.brown-card .card-prise{color:#9e9271;}
    .signup-card-container .card-box.brown-card .card-title{background-color:#9e9271; color:#fff;}
    .signup-card-container .card-box.brown-card .subscirbe-button{background-color:#9e9271; color:#fff;}
    .signup-card-container .card-box.gray-card .card-prise{color:#444;}
    .signup-card-container .card-box.gray-card .card-title{background-color:#444; color:#fff;}
    .signup-card-container .card-box.gray-card .subscirbe-button{background-color:#444; color:#fff;}
    .signup-card-container .card-box .card-prise{font-size:60px; font-weight:bold; color:#2bd6ce; text-align:center;padding-top:20px; margin-bottom:30px}
    .signup-card-container .card-box .card-title{margin:0px -20px;font-weight:600; font-size:30px;background-color:#2bd6ce; padding:10px 20px ;color:#fff; text-align:center; margin-bottom:40px;}
    .signup-card-container .card-box ul.card-listing{width:100%;}
    .signup-card-container .card-box ul.card-listing li{list-style-type: none; font-size:18px;height: auto;background-color: transparent; margin-bottom:10px;font-weight:500; color:#222; text-align:center;}
    .signup-card-container .subscirbe-button{display: inline-block; cursor:pointer; background-color:#2bd6ce; padding: 15px 30px;font-family: "Montserrat", sans-serif;font-size: 16px;font-weight: 600;text-transform: uppercase;letter-spacing: 1px;border:0px; border-radius: 5px;text-decoration: none;color: #fff;transition: 0.5s;cursor: pointer;}
</style>