<div class="modal fade" id="<%= title %>" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content p-5">
      <%= form_tag self.send("cms_updates_#{page}_path"), multipart: true, method: :put do %>
      <div class="form-group">
         <%= label_tag title, "#{title}", class: "control-label" %>
         <%= text_field_tag title, value, class: "form-control" %>
         <%= hidden_field_tag :title, title %>
      </div>
      <div class="form-group">
         <%= label_tag file, "#{file}", class: "control-label" %>
         <%= file_field_tag file, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= submit_tag "Save", class: "btn btn-primary", data: { toggle: "modal", target: "##{title}" } %>
      </div>
      <% end %>
      </div>
   </div>
</div>