<div class="modal fade" id="<%= title %>" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content p-5">
         <%= form_tag self.send("cms_updates_#{page}_path"), method: :put do %>
      <div class="form-group">
         <%= label_tag title, "#{title}", class: "control-label" %>
         <%= text_area_tag title, value, class: "form-control", rows: 30 %>
         <%= hidden_field_tag :title, title %>
      </div>
         <div class="form-group">
            <%= submit_tag "Save", class: "btn btn-primary", data: { toggle: "modal", target: "##{title}" } %>
         </div>
         <% end %>
      </div>
   </div>
</div>