<table style="table-layout: fixed; width: 100%;">
  <tr>
    <td>
      <div class="d-flex">
        <div class="d-flex">
          <p>Standard</p>
          <p class="input-line ml-1 options-inputs">&nbsp;&nbsp;<%= '&#10003;'.html_safe if @step6[:standard].present? %> </p>
        </div>
    
        <div class="d-flex ml-2">
          <p>Luxury</p>
          <p class="input-line ml-1 options-inputs">&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:luxury].present? %></p>
        </div>
      
        <div class="d-flex ml-2">
          <p class="no-wrap">Owner's Fee</p>
          <p class="input-line ml-1 options-inputs">&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:owner].present? %></p>
        </div>
      
        <div class="d-flex ml-2">
          <p class="no-wrap">Built-in</p>
          <p class="input-line ml-1 options-inputs">&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:built_in].present? %></p>
        </div>
      </div>
    </td>
    <td>
      <div class="d-flex Realtor-Request">
        <p class="no-wrap">Realtor Request</p>
        <p class="input-line ml-1 options-inputs"><%=@step6[:realtor_request] %></p>
      </div>
    </td>
  </tr>
</table>

<table style="border-collapse: collapse;" class="step-2-main-table">
  <tr>
    <td>
      <table style="table-layout: fixed; width: 100%;">
        <tr>
          <td valign="top">
            <table style="width: 100%; table-layout: fixed;">
              <tr>
                <td>
                  <div class="d-flex">
                    <div class="d-flex">
                      <p>Floor</p>
                      <p class="input-line ml-1 options-inputs		">
                      <%=@step6[:floor] %>
                      </p>
                    </div>
                    <div class="d-flex ml-2">
                      <p>Room</p>
                      <p class="input-line ml-1 rooms-input">
                      <%=@step6[:room] %>
                      </p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex mt-3">
                    <p>Mirror</p>
                    <p class="input-line ml-2 options-inputs"><%=@step6[:mirror] %></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex w-50 mt-3">
                    <div class="d-flex">
                      <p class="mr-2">Art</p>
                      <p class="ml-3">S</p>
                      <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:s].present? %></p>
                      <p class="ml-2">M</p>
                      <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:m].present? %></p>
                      <p class="ml-2">L</p>
                      <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:l].present? %></p>
                      <p class="ml-2">XL</p>
                      <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:xl].present? %></p>
                      <p class="ml-2">XXL</p>
                      <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:xxl].present? %></p>
                      <p class="ml-2">XXXL</p>
                      <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:xxxl].present? %></p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex mt-3">
                    <p class="mr-2">Rug</p>
                    <p class="ml-2">5&#215;7</p>
                    <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:'5_by_7'].present? %></p>
                    <p class="ml-2">6&#215;8</p>
                    <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:'6_by_8'].present? %></p>
                    <p class="ml-2">7&#215;9</p>
                    <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:'7_by_9'].present? %></p>
                    <p class="ml-2">8&#215;10</p>
                    <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:'8_by_10'].present? %></p>
                    <p class="ml-2">other</p>
                    <p class="input-line options-inputs">&nbsp;&nbsp;&nbsp;&nbsp;<%='&#10003;'.html_safe if @step6[:other].present? %></p>
                  </div>
                </td>
              </tr>
              
            </table>

            <table >
              <tr>
                <td valign="bottom">
                  <div class="w-100 mt-4">
                    <table style="table-layout: fixed; width: 100%;border-collapse:collapse;margin-top: 620px;" class="step-2-table">
                      <tr>
                        <td></td>
                        <td></td>
                        <td>S</td>
                        <td>M</td>
                        <td>L</td>
                        <td>Lux</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Sofa</td>
                        <td><input <%='checked' if @step6[:sofa_small] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:sofa_medium] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:sofa_large] == "on"%> type="checkbox" /></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Loveseat</td>
                        <td><input <%='checked' if @step6[:love_seat_small] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:love_seat_medium] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:love_seat_large] == "on"%> type="checkbox" /></td>
													<td></td>
												</tr>
												
												<tr>
													<td></td>
													<td>Armchair</td>
													<td><input <%='checked' if @step6[:armchair_small] == "on"%> type="checkbox" /></td>
                          <td><input <%='checked' if @step6[:armchair_medium] == "on"%> type="checkbox" /></td>
                          <td><input <%='checked' if @step6[:armchair_large] == "on"%> type="checkbox" /></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td>Side</td>
													<td><input <%='checked' if @step6[:side_small] == "on"%> type="checkbox" /></td>
                          <td><input <%='checked' if @step6[:side_medium] == "on"%> type="checkbox" /></td>
                          <td><input <%='checked' if @step6[:side_large] == "on"%> type="checkbox" /></td>
													<td></td>
												</tr>
												<tr>
												<td></td>
												<td>Cofee</td>
												<td><input <%='checked' if @step6[:cofee_ottoman_small] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:cofee_ottoman_medium] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:cofee_ottoman_large] == "on"%> type="checkbox" /></td>
												<td></td>
											</tr>
											<tr>
												<td></td>
												<td>Dining Table</td>
												<td><input <%='checked' if @step6[:dining_table_small] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:dining_table_medium] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:dining_table_large] == "on"%> type="checkbox" /></td>
												<td></td>
											</tr>
                     
                      <tr>
                        <td></td>
                        <td>Dining Chair</td>
                        <td><input <%='checked' if @step6[:dining_chair_small] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:dining_chair_medium] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:dining_chair_large] == "on"%> type="checkbox" /></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Firepit</td>
                        <td><input <%='checked' if @step6[:firepit_small] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:firepit_medium] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:firepit_large] == "on"%> type="checkbox" /></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Bistro</td>
                        <td><input <%='checked' if @step6[:bistro_small] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:bistro_medium] == "on"%> type="checkbox" /></td>
                        <td><input <%='checked' if @step6[:bistro_large] == "on"%> type="checkbox" /></td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top">
            <table style="width: 100%; table-layout: fixed;border-left: 1px solid black;">
              <tr>
                <td>
                  <div class="w-100">
                    <p>Notes:</p>
                    <p><%=@step6[:notes] %> </p>
                  </div>
                </td>
              </tr>
              <%@step6[:images].each do |img|%>
              <tr>
                
                <td>
                  
                  <%= wicked_pdf_image_tag(img,alt: "pdf image", style:"margin:0px;height:160px;width:100%;") %>
                </td>
              </tr>
              <%end if @step6[:images]%>
              
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>