<% def query_params(new_params)
    return request.query_parameters.reject{ |k,_| k.among?('page', '_x') }.merge(new_params).to_query
end %>
<div class="separator20"></div>
<h3 class="section_title_h3">Invoices</h3>
<div class="separator20"></div>


<div class="container">
    <div class="woocommerce">
        <!--Inventory Sub Nav--->
        <div class="profile-navigation sub">
            <div class="col-12">
                <ul class="navbar navbar-expand-xs">
                    <li data-target="#inventoryManagement" data-slide-to="0" class="active"><a class="profile-nav-item" href="">My Invoices</a></li>
                </ul>
            </div>
        </div>
        <div id="inventoryManagement" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <!--- Manage Owned Items-->
                <div class="carousel-item active">
                    <!-- Products-->
                    <ul id="owned_products">
                        <% @orders.each do |order| %>
                   
                                <!-- Hiding Inactive items -->
                                <%   if !order.status.nil?%>
                                    <li class="moi_container">
                                        <div class="row">
                                            <div class="col-12 col-md-8">
                                                    <div class="col-12 col-sm-8">
                                                        <small>
                                                            <table class="table table-sm text-center">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Order No</th>
                                                                        <th>Project name</th>
                                                                        <th>Total Amount</th>
                                                                        <th>Status</th>
                                                                        <th>Preview</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><%= order.id %></td>
                                                                        <td><%= order.project_name %></td>
                                                                        <td><%= order.total %></td>
                                                                        <td><%= order.status %></td>
                                                                        <td><%= link_to 'Preview', account_order_path(order&.id) %>
                                                                </tbody>
                                                            </table>
                                                        </small>
                                                    </div>
                                                <%end%>
                                            </div>
                                            
                                        </div>
                                    </li>    
                                <%end%>

                                    
                    </ul>
		            <!-- Pagination -->
					<div class="col-12 pagi-container">
						<nav aria-label="Page navigation" class="products-pagi">
							<ul class="pagination">
								<li class="page-item<%= ' disabled' if @page == 1 %>">
									<a class="page-link" href="<%= invoices_path + query_params(page: (@page - 1).to_s) %>" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
									</a>
								</li>
								<% if @page > 1 %>
									<li class="page-item"><a class="page-link" href="<%= invoices_path + query_params(page: (@page - 1).to_s) %>"><%= (@page - 1).to_s %></a></li>
								<% end %>
								<li class="page-item disabled">
									<a class="page-link" href="#!"><%= @page.to_s %></a>
								</li>
								<% unless @orders.size < @per_page %>
									<li class="page-item"><a class="page-link" href="<%= invoices_path + query_params(page: (@page + 1).to_s) %>"><%= (@page + 1).to_s %></a></li>
								<% end %>
								<% unless @orders.size < @per_page %>
									<li class="page-item">
										<a class="page-link page_next" href="<%= invoices_path + query_params(page: (@page + 1)) %>" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Next</span>
										</a>
									</li>
								<% end %>
							</ul>
						</nav>
					</div>
        </div>
    </div>
</div>
</div>
</div>


