<div class="hmgs">
    <div class="hero">
        <div class="hero-bg-image">
            <div class="hero-cta" id="learn">
                <h2 style="width: 100%; text-align: center;">What would you like to do?</h2>
                <div class="row">
                    <div class="col">
                        <a href="#rent">
                            <div class="grid-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="cta-img" viewBox="0 0 127 66">
                                    <g fill="none" fill-rule="evenodd">
                                        <path fill="#FFF" d="M62.8 35.96H16.888a6.648 6.648 0 0 1-6.648-6.647V8.047A6.648 6.648 0 0 1 16.888 1.4h39.264A6.648 6.648 0 0 1 62.8 8.047V35.96z"/>
                                        <path stroke="#64605E" stroke-width="1.998" d="M62.8 35.96H16.888a6.648 6.648 0 0 1-6.648-6.647V8.047A6.648 6.648 0 0 1 16.888 1.4h39.264A6.648 6.648 0 0 1 62.8 8.047V35.96z"/>
                                        <path fill="#FFF" d="M108.947 35.96H63.52V8.532A7.133 7.133 0 0 1 70.653 1.4h38.294a7.133 7.133 0 0 1 7.133 7.132v20.296a7.133 7.133 0 0 1-7.133 7.132"/>
                                        <path stroke="#64605E" stroke-width="1.998" d="M108.947 35.96H63.52V8.532A7.133 7.133 0 0 1 70.653 1.4h38.294a7.133 7.133 0 0 1 7.133 7.132v20.296a7.133 7.133 0 0 1-7.133 7.132z"/>
                                        <path fill="#FFF" d="M121.024 48.2H6.016c-2.439 0-4.416-1.92-4.416-4.291v-3.658c0-2.37 1.977-4.291 4.416-4.291h115.008c2.439 0 4.416 1.921 4.416 4.291v3.658c0 2.37-1.977 4.291-4.416 4.291"/>
                                        <path stroke="#64605E" stroke-width="1.998" d="M121.024 48.2H6.016c-2.439 0-4.416-1.92-4.416-4.291v-3.658c0-2.37 1.977-4.291 4.416-4.291h115.008c2.439 0 4.416 1.921 4.416 4.291v3.658c0 2.37-1.977 4.291-4.416 4.291z"/>
                                        <path fill="#FFF" d="M22.646 64.04h-5.372L15.28 48.2h9.36z"/>
                                        <path stroke="#64605E" stroke-width="1.998" d="M22.646 64.04h-5.372L15.28 48.2h9.36z"/>
                                        <path fill="#FFF" d="M109.046 64.04h-5.373L101.68 48.2h9.36z"/>
                                        <path stroke="#64605E" stroke-width="1.998" d="M109.046 64.04h-5.373L101.68 48.2h9.36z"/>
                                        <path fill="#FFF" d="M96.165 39.35l-13.472-5.352c-1.533-.61-2.288-2.36-1.686-3.911l6.481-16.692a2.972 2.972 0 0 1 3.867-1.705l13.472 5.352c1.533.61 2.288 2.36 1.686 3.911l-6.481 16.692a2.972 2.972 0 0 1-3.867 1.705"/>
                                        <path stroke="#64605E" stroke-width="1.998" d="M96.165 39.35l-13.472-5.352c-1.533-.61-2.288-2.36-1.686-3.911l6.481-16.692a2.972 2.972 0 0 1 3.867-1.705l13.472 5.352c1.533.61 2.288 2.36 1.686 3.911l-6.481 16.692a2.972 2.972 0 0 1-3.867 1.705z"/>
                                        <path fill="#FFF" d="M109.845 39.35l-13.472-5.352c-1.533-.61-2.288-2.36-1.686-3.911l6.481-16.692c.603-1.551 2.334-2.314 3.867-1.705l13.472 5.352c1.533.609 2.288 2.36 1.686 3.911l-6.481 16.692c-.603 1.55-2.334 2.315-3.867 1.705"/>
                                        <path stroke="#64605E" stroke-width="1.998" d="M109.845 39.35l-13.472-5.352c-1.533-.61-2.288-2.36-1.686-3.911l6.481-16.692c.603-1.551 2.334-2.314 3.867-1.705l13.472 5.352c1.533.609 2.288 2.36 1.686 3.911l-6.481 16.692c-.603 1.55-2.334 2.315-3.867 1.705z"/>
                                        <path fill="#FFF" d="M33.157 35.96H8.923c-1.658 0-3.003-1.331-3.003-2.974v-6.293c0-1.642 1.345-2.973 3.003-2.973h24.234c1.658 0 3.003 1.331 3.003 2.973v6.293c0 1.643-1.345 2.974-3.003 2.974"/>
                                        <path stroke="#5BD3CB" stroke-width="1.994" d="M33.157 35.96H8.923c-1.658 0-3.003-1.331-3.003-2.974v-6.293c0-1.642 1.345-2.973 3.003-2.973h24.234c1.658 0 3.003 1.331 3.003 2.973v6.293c0 1.643-1.345 2.974-3.003 2.974zM11.16 23.24v12.8M19.8 23.24v12.8M15.308 23.24v12.8"/>
                                    </g>
                                </svg>
                                <br>
                                <h3> Rent <br>Furniture </h3>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#ship">
                            <div class="grid-button">
                                <img src="https://sdn-library.s3-us-west-1.amazonaws.com/truck.png" class="cta-img"><br>
                                <h3> Schedule a <br> Delivery/Pickup</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#find">
                            <div class="grid-button">
                                <img src="https://sdn-library.s3-us-west-1.amazonaws.com/find-stager.png" class="cta-img" ><br>
                                <h3> Find Your <br> Stager </h3>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#earn">
                            <div class="grid-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="cta-img" viewBox="0 0 59 81">
                                    <g fill="none" fill-rule="nonzero">
                                        <path fill="#5BD3CB" d="M29.986 61.456c-2.905 0-5.879-1.562-5.908-1.577l-1.17 2.343c.136.073 3.247 1.712 6.61 1.857V67.5h2.728v-3.677c3.092-.79 4.506-3.212 4.506-5.62 0-3.02-1.955-5.103-5.973-6.368-4.166-1.312-4.166-3.09-4.166-3.848 0-2.035 1.575-3.252 4.215-3.252 2.906 0 5.878 1.563 5.909 1.58l1.17-2.343c-.124-.067-2.682-1.417-5.66-1.782V38.5H29.52v3.691c-3.751.503-5.455 3.157-5.455 5.797 0 3.021 1.954 5.105 5.973 6.37 4.167 1.312 4.167 3.088 4.167 3.847-.002 2.034-1.579 3.251-4.218 3.251z"/>
                                        <path fill="#616060" d="M.908 58.592c0 14.23 14.941 21.908 29 21.908 14.058 0 29-7.678 29-21.908 0-16.171-16.137-30.816-20.826-34.73a1156.63 1156.63 0 0 1 3.182-2.662c7.278-6.062 11.287-9.402 11.484-12.568.068-1.116-.338-2.152-1.207-3.078-2.467-2.627-5.26-1.353-7.503-.329-1.564.715-3.044 1.389-4.472 1.07-1.57-.352-2.494-1.362-3.565-2.533C34.6 2.233 33.014.5 29.908.5c-3.107 0-4.694 1.733-6.094 3.262-1.071 1.17-1.996 2.18-3.565 2.533-1.43.319-2.91-.355-4.474-1.07-2.242-1.024-5.034-2.3-7.502.33-.87.925-1.275 1.961-1.206 3.077.195 3.167 4.205 6.505 11.482 12.568.996.83 2.072 1.728 3.184 2.662C17.044 27.776.908 42.42.908 58.592zm19.32-39.368c-6.057-5.044-10.433-8.69-10.56-10.75-.018-.27.026-.644.513-1.163 1.08-1.151 2.094-.843 4.504.257 1.803.824 3.846 1.758 6.14 1.243 2.37-.531 3.724-2.01 4.918-3.315 1.236-1.349 2.212-2.416 4.165-2.416 1.953 0 2.929 1.066 4.164 2.416 1.194 1.304 2.55 2.783 4.918 3.314 2.293.516 4.336-.42 6.14-1.242 2.411-1.1 3.423-1.408 4.504-.257.488.518.53.894.514 1.163-.128 2.06-4.504 5.705-10.56 10.75a759.628 759.628 0 0 0-4.02 3.366h-11.32a838.114 838.114 0 0 0-4.02-3.366zm4 5.946h11.36c2.718 2.204 20.715 17.395 20.715 33.422 0 14.08-16.19 19.328-26.395 19.328-10.206 0-26.396-5.248-26.396-19.328 0-16.027 17.996-31.22 20.716-33.422z"/>
                                    </g>
                                </svg>
                                <br>
                                <h3> Sell<br>Furniture</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outside_wrapper grey_bg">
        <div class="inside_wrapper grey_bg">
            <div class="separator20"></div>
            
            <!-- Rent Furniture -->
            <div class="two_responsive_items" id="rent">
                <div class="responsive_items_image"><img src="https://sdn-content.s3-us-west-1.amazonaws.com/getstartedpage_rent_buy.jpg" alt="rent_buy_furniture"></div>
                <div class="responsive_items_description">
                    <h4>Rent Furniture</h4>
                    <p>Shop by room or category for a broader view. Use the search function to find a specific item.</p>
                    <div class="button_container"><a href="<%= plp_path %>" class="action_btn">BROWSE</a></div>
                </div>
            </div>

            <div class="separator20"></div>
            <div class="separator20"></div>

            <!-- Delivery and Pickup -->
            <div class="two_responsive_items" id="ship">
                <div class="responsive_items_image"><img src="https://sdn-content.s3-us-west-1.amazonaws.com/getstartedpage_delivery_pickup.jpg" alt="delivery_and_pickup"></div>
                <div class="responsive_items_description">
                    <h4>Delivery and Pickup</h4>
                    <p>Allow our world-class service team to make your stage and destage as seamless as possible! With real-time delivery tracking right from your mobile device.</p>
                    <p>Will Call Services are also an option!</p>
                    <div class="button_container"><a class="action_btn" href="<%= services_path+"#shipping_info"%>">FIND OUT MORE</a></div>
                </div>
            </div>

            <div class="separator20"></div>
            <div class="separator20"></div>

            <!-- Share Furniture = Earn Money -->
            <div class="two_responsive_items" id="earn">
                <div class="responsive_items_image"><img src="https://sdn-content.s3-us-west-1.amazonaws.com/getstartedpage_share_furniture.jpg" alt="share_furniture"></div>
                <div class="responsive_items_description">
                    <h4>Sell Furniture = Earn Money</h4>
                    <p>Share your inventory and earn money without having to lift a finger. We take great care of your items. All the heavy lifting is on us, while you benefit!</p>
                    <div class="button_container"><a data-toggle="modal" data-target="#addInventory" class="action_btn">EARN MORE</a></div>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal" id="addInventory" tabindex="-1" role="dialog" aria-labelledby="addInventoryLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addInventoryLabel">Add Inventory Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <div class="row mr-3-auto">

               <div class="col-12">
                   <h6>Add your contact information below to get started.</h6>
                   <hr>

                   <div id="response_message" class="alert d-none"></div>
                   
                   <%= form_tag(send_request_info_path, id: "request_info_form") %>
                   
                        <div class="form-group">
                            <%= label_tag :first_name, 'First Name:' %>
                            <%= text_field_tag :first_name, params[:first_name] || current_user&.first_name, placeholder: 'First Name', class: 'form-control' %>
                        </div>

                        <div class="form-group">
                            <%= label_tag :email, 'Email:' %>
                            <%= email_field_tag :email, params[:email] || current_user&.email, placeholder: 'Email', class: 'form-control' %>
                        </div>

                        <div class="form-group">
                            <%= label_tag :phone, 'Phone:' %>
                            <%= text_field_tag :phone, params[:phone] || current_user&.telephone, placeholder: 'Phone', class: 'form-control' %>
                        </div>

                        <input type="hidden" name="location" value="24">
                        
                        <button type="submit" id="contact_submit" class="btn btn-outline-secondary btn-lg btn-block" >Submit</button>
                        <button type="button" id="contact_close" class="btn btn-outline-secondary btn-lg btn-block d-none" data-dismiss="modal">Close</button>

                    </form>
               </div>
           </div>
      </div>
      
    </div>
  </div>
</div>

<script>
 $(function(){
     var form = $('#request_info_form');
     form.on('submit', function(e){
         e.preventDefault();
         $.ajax({
             type: 'post',
             url: '<%= send_request_info_url %>',
             data: form.serialize(),
             beforeSend: function() {
                 $('#contact_submit').prop('disabled', true);
             },
             success: function(data) {
		 submit_button = $('#contact_submit');
		 close_button = $('#contact_close');
                 submit_button.prop('disabled', true);
                 message_container = $('#response_message');
                 message_container.text(data.message);
                 if(data.success) {
                     message_container.addClass('alert-success').removeClass('d-none');
		     submit_button.addClass('d-none');
		     close_button.removeClass('d-none');
                 } else {
                     message_container.addClass('alert-danger').removeClass('d-none');
                     submit_button.prop('disabled', false);
                 }
             },
             error: function() {
                 $('#contact_submit').prop('disabled', false);
                 $('#response_message').text('An error occurred. Please try again.').addClass('alert-danger').removeClass('d-none');
             }
         });
     });
 });     
</script>

