<footer class="footer-main container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-header">
                    <%=image_tag("new_icons/logo.svg", height: '40', alt:"logo") %>
                </div>
            </div>
            <div class="col-12">
                <div class="footer-social">
                    <ul>
                        <li><a href="https://www.facebook.com/StagingAndDesignNetwork/" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.linkedin.com/groups/3857173/" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://instagram.com/r_e_solved/" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="row">

                    <div class="col-12 col-sm-4 mb-3">
                        <a href="<%= about_path %>">About</a><br>        
            
                        <a href="<%= contact_path %>">Contact</a><br>                   
                        <a href="https://www.indeed.com/cmp/Neoasis-Interiors">Careers</a><br>
                        <!--- removed covid policy link which was covid_19_path --->  
                        
                  </div>

                  <div class="col-12 col-sm-4 mb-3">
                      <a href="<%= privacy_path %>">Privacy Policy</a><br>
                      <a href="<%= policies_path %>">Rental Policy</a>
                  </div>

                  <div class="col-12 col-sm-4 mb-3">
                            <strong>Email:</strong> <wbr><a href="mailto:support@r-e-solved.com">support@r-e-solved.com</a><br>
                            <strong>Phone: </strong><wbr>425-697-3045<br>
                    </div>
                </div>


                <hr>
                <div class="col-12 copyrite_info">&#9400; RE|SOLVED LLC All Right Reserved 2024</div>
            </div>
        </div>
    </div>
</footer>
